
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
#header-container {
    display: flex;
    flex-direction: row;    
    background-color: #C0FFB3;
    /* height: 90px; */
    /* min-width: 50%; */
}

#info-left {
    background-color: #35801A;
    flex: 0.3 0.3 30vw;
    color: white;    
    padding: 10px;
    text-align: center;
}

#info-center {
    flex: 0.4 0.4 40vw;
    text-align: center;
    padding: 25px 10px;
}

#info-right {
    flex: 0.3 0.3 30vw;
    background-color: #35801A; 
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dp, #sign-out {    
    height: 100%;      
    display: flex;
    flex: 1;
    flex-basis: 100px;
    align-items: center;
    justify-content: center;
}

#dp img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#user-profile {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding: 0px 5px;
}

#sign-out {  
    text-decoration: none;
    text-align: center;
    color: white;
}

#sign-out:hover, #user-profile:hover, #dp:hover, #info-left:hover {
    background-color: #50BF26;
}

/* Main Content */
#from-date-cont, #to-date-cont {
    display: inline-block;
    background-color: azure;
    border: 2px #aaa solid;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 5px;
}

#table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.body-btn {
    display: inline-block;
    font-size: 16px;
    border: 2px #BFBFBF solid;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.body-btn:hover {
    background-color: #DFDFDF;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#past-order, #current-order {
    position: relative;
    padding: 10px;    
    text-align: center;
   /* margin: 20px;*/
}

#past-order-chart, #current-order-chart {  
    width: 30vw;  
    background-color: black;
    border-radius: 5px;
    /* border-collapse: collapse; */
    margin: 20px;
}

#past-order-chart img {
    height: 30px;
    width: 30px;
    margin: 4px;  
}

td {
    background-color: #eee;
    padding: 5px 10px;
    
}

th {
    position: sticky;
    top: 0;
    background-color: #ddd;
    padding: 5px 10px;
}

#empty-cont {
    height: 5vh;
}

/* Footer */
#footer-container {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(100,100,100);
    display: flex;
    flex-direction: row;
}

#footer-container .footer-btn {
    flex: 1 1 33.3vw;
    text-align: center;
    padding: 20px 0px;
}

#footer-container .footer-btn:hover {
    background-color: #555;
}

#footer-container a {
    text-decoration: none;
    color: white;
}

